@model OpenSpaceInvaders.Models.BlobModel

@{
    ViewData["Title"] = "Blob";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>BlobModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaFileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaFileType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeUploaded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeUploaded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MediaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
