@model IEnumerable<OpenSpaceInvaders.Models.BlobModel>

@{
    ViewData["Title"] = "Blob";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MediaFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaFileType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeUploaded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MediaFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaFileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeUploaded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MediaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MediaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MediaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
